:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 6rem;
  z-index: 10;
  background-color: #252436;
  display: flex;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
}

#sog-logo {
  margin-right: 1rem;
  margin-left: 0.7rem;
  height: 100%;
  width: 4rem;
}

#searchbar-container {
  display: flex;
  align-items: center;
  margin-left: 3rem;
}

#searchbarTextField {
  background: 0%;
  border: none;
  color: #F8F5F0;
  height: 3.5rem;
  font-size: 20px;
}

#searchbarTextField:focus {
  outline: none;
}

#searchLogo {
  margin-right: 1rem;
  margin-left: 1rem;
}

#login-container {
  margin-left: auto;
  width: 5%;
  text-align: center;
}

#login-container:hover {
  background-color: #5c5b6b;
  cursor: pointer;
}
