:host {
  margin-left: auto;
  text-align: center;
  padding: 4px;
  min-width: 5%;
  width: 9%;
}

#login-button-container {
  display: flex;
  align-items: center;
}

#login-button-container:hover {
  background-color: #5c5b6b;
  cursor: pointer;
}

#userLogo {
  background-color: white;
  color: black;
  border-radius: 30px;
  width: 25%;
  height: 2rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

#usrFirstLetter {
  margin-top: 6px;
}
