table {
    border-collapse: collapse;
    border: 2px solid rgba(54, 162, 235, 1);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    width: 100%;
}

caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
}

thead,
tfoot {
    background-color: rgba(75, 192, 192, 0.5);
}

th,
td {
    background-color: rgba(54, 162, 235, 0.5);
    border: 1px solid rgba(54, 162, 235, 1);
    padding: 15px 10px;
}