.main-content-container {
  display: flex;
  margin-top: 5.7rem;
  margin-left: 80px;
  flex: 1;
  border: none;
  flex-direction: row;
}

section {
  height: 100vh;
  display: flex;
}

#cat-sales,
#nb-sales,
#nb-sales-agreement {
  flex: 1;
}

#manufac-ranking,
#ranking-sales,
#percent-prod-sales {
  flex: 5;
}

#manufac-ranking {
  padding-left: 10px;
  padding-right: 10px;
}

#data-sales,
#global-data,
#data-store,
#data-manufacturer {
  flex: 1;
  text-align: center;
  align-content: center;
}

#evolution-sales,
#sales,
#nb-prod-stores,
#nb-products,
#nb-manufacturers {
  flex: 6;
}

#evolution-products {
  flex: 4;
}

.row-1,
.row-2 {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.data {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  margin: 5px;
  background-color: #51505e;
  border: solid #5c5b6b 1px;

}