@use '@angular/material' as mat;

html {
  @include mat.theme((color: (primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      )));

  font-family: "Google Sans Flex", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

:root {
  --font-color: #F8F5F0;
  --background-color: #252436;

  font-family: "Google Sans Flex", sans-serif;
  background-color: var(--background-color);
  color: var(--font-color);
}

html,
body {
  height: 100%;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  height: 4rem;
  width: 99%;
}

h1 {
  white-space: nowrap;
}

div {
  border-radius: 15px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}