:host {
  height: 100vh;
  position: fixed;
  z-index: 5;
  top: 6rem;
}

.navbar {
  display: flex;
  height: 100vh;
  flex-direction: column;
  width: 70px;
  text-align: center;
  padding: 7px;
  margin-left: 0.4rem;
  background-color: #51505e;
  border: solid #5c5b6b 1px;
}

.logo-container {
  height: 6%;
  border: none;
}

.logo-container:hover {
  background-color: #5c5b6b;
  cursor: pointer;
}

hr {
  width: 80%;
  opacity: 0.15;
}

mat-icon {
  font-size: 30px;
  height: 30px;
  padding-top: 9px;
  padding-right: 5px;
  transition: color 0.3s;
}

mat-icon.active {
  color: #2ec0ff;
}